include ../mixins/pagination

mixin playlists()
	.grid(data-masonry='{"itemSelector": ".grid-item"}')
		for playlist in playlists.results
			if playlist.isPublished || (user && playlist.author.id == user.id)
				.grid-item
					a(href='/playlist/' + playlist.id)
						.panel.panel-primary
							.panel-heading
									h3
										=playlist.title
									h4
										span by #{playlist.program.title}
									h4
										span #{playlist.date.toLocaleDateString() + ' at ' + playlist.date.toLocaleTimeString()}
								.panel-body
									p
										//- != okay
										!=playlist.description
										if !playlist.isPublished
											span (draft)
	+pagination(playlists)
mixin playlist()
	h2=playlist.title
	if user && user.id == playlist.author.id
		button.btn.btn-raised
			a(href='/playlist/' + playlist.id + '/edit')
				span.glyphicon.glyphicon-pencil
				span Edit
	.row
		p Program: 
			a(href='/program/' + playlist.program.slug)=playlist.program.title

		//- != okay
		p!=playlist.description

		//- Tracks
		table(style='width:100%')
			thead
				tr
					th Artist
					th Album
					th Title
			tbody
				for track in playlist.tracks
					tr
						td=track.artist
						td=track.album
						td=track.title

mixin post-playlist(editing)
	h2.col-sm-offset-1 Post a new playlist
	.row
		form(method='post', enctype='multipart/form-data', autocomplete='off', novalidate).form-horizontal.create-form.col-sm-10.col-sm-offset-1.profile-form
			fieldset
				//- Program
				.form-group.label-floating
					label(for='program' class="control-label") Program
					input(id='program', name='program', class='typeahead form-control', type='text', value=editing ? playlist.program.title : '')
					span.material-input

				//- Description
				.form-group
					label(for='description') Description:
					//- != okay
					textarea(id='description', name='description', class='wysiwyg')!=editing ? playlist.description : ''

				//- Tracks
				table.table.table-hover.form-group
					thead
						tr
							th Artist
							th Album
							th Song
					tbody
						if editing
							for track in playlist.tracks
								tr
									td
										input(type='text' name="artist" value=track.artist)
									td
										input(type='text' name="album" value=track.album)
									td
										input(type='text' name="title" value=track.title)

						- for(var i = 0; i < 10; i++)
							tr
								td
									input(type='text' name="artist")
								td
									input(type='text' name="album")
								td
									input(type='text' name="title")

				//- Is Published
				.form-group
					.checkbox
						label(for='isPublished')
							input(type='checkbox', name='isPublished', value="Published", id='isPublished' checked=editing && playlist.isPublished)
				//- Submit
				.form-group
					button(type='submit', name='save-and-continue' value='true' data-loading-text="Changing...").btn.btn-lg.btn-raised.btn-primary Save and Continue
					button(type='submit', name='save-and-exit' value='true' data-loading-text="Changing...").btn.btn-lg.btn-primary.btn-raised Save and Exit
