include ../mixins/pagination

mixin create-post()
	.modal.fade(id="myModal", role="dialog", aria-labelledby="myModalLabel", tabindex="-1")
		.modal-dialog(role="document")
			.modal-content
				.modal-header
					h4.modal-title Create a new post
				.modal-body
					form(method='post', enctype='multipart/form-data', autocomplete='off', novalidate).create-form.profile-form
						input(type='hidden', name='action', value='create-post')
						//- Title
						.form-group.label-floating
							label(class="control-label", for="title") Post title
							input(type='text', name='title', id='title').form-control
	
						//- Content
						.form-group
							textarea(name='textContent', class='wysiwyg', rows="3").form-control
	
						//- Image
						.form-group
							label(for="postImage_upload") Add an image to this post
							input(type='file', id='postImage_upload' name='postImage_upload').form-control
	
						//- Submit
						.form-group
							button(type='submit', data-loading-text="Changing...").btn.btn-default.btn-lg.btn-block Create post

	if user && (user.isConfirmed || user.isAdmin)
		#new-post
			form(method='post', enctype='multipart/form-data', autocomplete='off', novalidate).form-horizontal.create-form.hidden.profile-form
				input(type='hidden', name='action', value='create-post')

				.col-sm-10.col-sm-offset-1

					//- Title
					.form-group.label-floating
						label(class="control-label", for="post-title") Post title
						input(type='text', id='post-title').form-control
						span.material-input

					//- Content
					.form-group
						textarea(name='textContent', class='wysiwyg', rows="3").form-control.col-sm-12

					//- Image
					.form-group
						label(for="postImage_upload") Add an image to this post
						input(type='file', id='postImage_upload' name='postImage_upload').form-control.col-sm-12

					//- Submit
					.form-group
						button(type='submit', data-loading-text="Changing...").btn.btn-default.btn-lg.btn-block.btn-raised Create post
							.ripple-container

mixin show-post(post)
	if post.author
		if post.textLength === "xs"
			div(class='grid-item')
				div(id='post-id-' + post.id, class='card card-content')
					.card-image
						if post.postImage.exists
							img(src=post.postImage.href)
					.card-body
						h3!=post.title
						h4!=post.author.name.first + ' ' + post.author.name.last
						p!=post.textContent.replace(/\n/g, '<br>')
					if user && user.id === post.author.id
						a(href='?remove=post&post=' + post.slug, title='Delete this post', rel='tooltip', data-placement='left').post-delete.js-delete-confirm
							button.btn.btn-default.btn-delete
								i.material-icons clear
		if post.textLength === "s"
			div(class='grid-item grid-item--width2 card')
				div(id='post-id-' + post.id, class='card-content')
					.card-image
						if post.postImage.exists
							img(src=(post.postImage.path).replace('public', '') + '/' + post.postImage.filename)
					.card-body
						h3!=post.title
						h4!=post.author.name.first + ' ' + post.author.name.last
						p!=post.textContent.replace(/\n/g, '<br>')
					if user && user.id === post.author.id
						a(href='?remove=post&post=' + post.slug, title='Delete this post', rel='tooltip', data-placement='left').post-delete.js-delete-confirm
							button.btn.btn-default.btn-delete
								i.material-icons clear
		if post.textLength === "m"
			div(class='grid-item grid-item--width3')
				div(id='post-id-' + post.id, class='card card-content')
					.card-image
						if post.postImage.exists
							img(src=(post.postImage.path).replace('public', '') + '/' + post.postImage.filename)
					.card-body
						h3!=post.title
						h4!=post.author.name.first + ' ' + post.author.name.last
						p!=post.textContent.replace(/\n/g, '<br>')
					if user && user.id === post.author.id
						a(href='?remove=post&post=' + post.slug, title='Delete this post', rel='tooltip', data-placement='left').post-delete.js-delete-confirm
							button.btn.btn-default.btn-delete
								i.material-icons clear
		if post.textLength === "l"
			div(class='grid-item grid-item--width4')
				div(id='post-id-' + post.id, class='card card-content')
					.card-image
						if post.postImage.exists
							img(src=(post.postImage.path).replace('public', '') + '/' + post.postImage.filename)
					.card-body
						h3!=post.title
						h4!=post.author.name.first + ' ' + post.author.name.last
						p!=post.textContent.replace(/\n/g, '<br>')
					if user && user.id === post.author.id
						a(href='?remove=post&post=' + post.slug, title='Delete this post', rel='tooltip', data-placement='left').post-delete.js-delete-confirm
							button.btn.btn-default.btn-delete
								i.material-icons clear

mixin show-posts(posts)
	.grid(data-masonry='{"itemSelector": ".grid-item"}')
		for post in posts.results
			+show-post(post)
	+pagination(posts)

mixin show-post-image(post)
	if post.postImage.exists
		img(style='width:64px;height:64px' src=post.postImage.href)
