include ../mixins/users

mixin programs()
	for program in programs
		p
			a(href='/program/' + program.slug)!=program.title
	if user && user.isAdmin
		hr
		p
			a(href='/program') Create new program

mixin program()
		h2!=program.title
		if user && user.isAdmin
			p
				a(href='/program/' + program.slug + '/edit') Edit
		p!='Genre: ' + program.genre
		p!=program.description
		hr
		h4 DJs
		div
			for dj in program.djs
				+user-picture-with-name(dj)
		hr
		h4 Playlists
		ul
			for playlist in program.playlists
				li!=playlist.title	
				
mixin post-program(editing)
	form(method='post', enctype='multipart/form-data', autocomplete='off', novalidate).form-horizontal.create-form.profile-form
		input(type='hidden', name='action', value=editing ? 'edit-program' : 'add-program')

		.row: .col-sm-8.col-sm-offset-2

			h2 Post program

			if editing
				p
					a(href='/program/' + program.slug) View

			//- Program
			.form-group
				label(for='title') Title:
				input(type='text' id='title', name='title' value=editing ? program.title : '')

			//- Genre
			.form-group
				label(for='genre') Genre:
				input(type='text' id='genre', name='genre' value=editing ? program.genre : '')
				
			//- Description
			.form-group
				label(for='description') Description:
				textarea(id='description', name='description')!=editing ? program.description : ''
				
			//- DJs
				
			//- Schedule
				
			//- Biweekly
			.form-group
				label(for='isBiweekly') Biweekly:
				input(type='checkbox' id='isBiweekly', name='isBiweekly' checked=editing && program.isBiweekly)
				
			//- Submit
			.form-group
				button(type='submit', data-loading-text="Changing...").btn.btn-lg.btn-primary.btn-block Save program
