include ../mixins/users

mixin programs()
	for program in programs
		.program
			a(href='/program/' + program.slug)=program.title
	if user && user.isAdmin
		hr
		p
			a(href='/program') Create new program

mixin program()
	h2=program.title
	if user && user.isAdmin
		p
			a(href='/program/' + program.slug + '/edit') Edit
	p='Genre: ' + program.genre
	p=program.airTimeString
	p='Airs next on ' + program.nextAirDateMMDDYY
	p!=program.description
	hr
	h4 DJs
	div
		for dj in program.djs
			+user-picture-with-name(dj)
	hr
	h4 Playlists
	ul
		for playlist in program.playlists
			li
				a(href='/playlist/' + playlist.id)=playlist.date.toLocaleDateString()

mixin post-program(editing)
	form(id="post-program" method='post', enctype='multipart/form-data', autocomplete='off', novalidate).form-horizontal.create-form.profile-form
		input(type='hidden', name='action', value=editing ? 'edit-program' : 'add-program')

		.row: .col-sm-8.col-sm-offset-2

			h2 Post program

			if editing
				p
					a(href='/program/' + program.slug) View

			//- Program
			.form-group
				label(for='title') Title:
				input(type='text' id='title', name='title' value=editing ? program.title : '')

			//- Genre
			.form-group
				label(for='genre') Genre:
				input(type='text' id='genre', name='genre' value=editing ? program.genre : '')

			//- Description
			.form-group
				label(for='description') Description:
				textarea(id='description', name='description', class='wysiwyg')!=editing ? program.description : ''

			//- DJs
			.form-group
				label(for='dj') DJs:
				ul
					if editing
						for dj in program.djs
							li
								input(id='dj', name='dj', class='typeahead', type='text', value=dj.name.full)
					for i in [1, 2]
						li
							input(id='dj' name='dj' class='typeahead' type='text')

			//- Start time
			.form-group
				label(for='startTime') Start time:
				div(class="input-group bootstrap-timepicker timepicker")
					input(id="startTime", name="startTime", type="text", class="form-control input-small", value=editing ? program.startTimeString : '')
					span(class="input-group-addon")
						i(class="glyphicon glyphicon-time")

			//- End time
			.form-group
				label(for='endTime') End time:
				div(class="input-group bootstrap-timepicker timepicker")
					input(id="endTime", name="endTime", type="text", class="form-control input-small", value=editing ? program.endTimeString : '')
					span(class="input-group-addon")
						i(class="glyphicon glyphicon-time")

			//- Date
			.form-group
				label(for='date') Date:
				div(class="input-group date")
					input(id="date", name="date", type="text", class="form-control", value=editing ? program.nextAirDateMMDDYY : '')
					span(class="input-group-addon")
						i(class="glyphicon glyphicon-th")

			//- Biweekly
			.form-group
				label(for='isBiweekly') Biweekly:
				input(type='checkbox' id='isBiweekly', name='isBiweekly' checked=editing && program.isBiweekly)

			//- Submit
			.form-group
				button(type='submit', data-loading-text="Changing...").btn.btn-lg.btn-primary.btn-block Save program

mixin live-program(prg)
	if prg
		h5='Listen to ' + prg.title
		h5='Genre: ' + prg.genre
		- var names = 'Djs:'
		for dj in prg.djs
			- names += ' ' + dj.name.first + ' ' + dj.name.last + ' and'
		- names = names.substring(0, names.length - 4)
		h5=names
	else
		h5='Listen to WUSB (no program live right now)'
