mixin sign-up()
	form(method='post', enctype='multipart/form-data', autocomplete='off', novalidate).form.create-form.profile-form.sign-up
		input(type='hidden', name='action', value='sign-up')
		.col-sm-8.col-sm-offset-2.sign-up-form.col-xs-10.col-xs-offset-1
			.card.card-content
				.card-body
					h2 sign up
					.form-group.row
						label.col-sm-12.col-xs-12 Name
						.col-sm-6.col-xs-12
							input(type='text', name='name.first', placeholder='First name').form-control
						.col-sm-6.col-xs-12
							input(type='text', name='name.last', placeholder='Last name').form-control.col-sm-5
					.form-group.row
						label(for='email').col-sm-12 Email Address
						.col-sm-12.col-xs-12
							input(type='email', id='email', name='email', placeholder='email').form-control
					.form-group.row
						label(for='password').col-sm-12 Password
						.col-sm-6.col-xs-12
							input(type='password', id='password', name='password', placeholder='password').form-control
						.col-sm-6.col-xs-12
							input(type='password', id='password-confirm', name='password_confirm', placeholder='confirm password').form-control
					
					.form-group
						button(type='submit', data-loading-text="Changing...").btn.btn-lg.btn-primary Sign up

mixin user-picture(user)
	img(class="profile-picture" src=user.profileImage.exists ? user.profileImage.href : '/images/alien.svg')
		
mixin user-picture-with-name(user)
	div.user-picture-with-name
		+user-picture(user)
		p=user.name.first + ' ' + user.name.last
	
mixin edit-profile()
	form(method='post', enctype='multipart/form-data', autocomplete='off', novalidate).form-horizontal.create-form.profile-form
		input(type='hidden', name='action', value='edit-profile')

		.row: .col-sm-8.col-sm-offset-2.text-center

			h2 Your Profile
			
			.form-group
				.profile-pic
					+user-picture(locals.user)
					label(for="profileImage_upload").profile_pic-edit
						i.material-icons mode_edit
					input(type='file', id='profileImage_upload' name='profileImage_upload')
			.form-group.name
				input(type='text', value=locals.user.name.first, name='name.first', placeholder='First name').input.input-faded.first-name
			.form-group.name
				input(type='text', value=locals.user.name.last, name='name.last', placeholder='Last name').input.input-xl.input-faded
			.form-group
				input(type='email', value=locals.user.email, id='email', name='email', placeholder='email').input.input-xl.input-faded
			.form-group
				input(type='password', id="password", name='password', placeholder='new password').input.input-xl.input-faded
			.form-group
				input(type='password', name='password_confirm', placeholder='confirm password').input.input-xl.input-faded
			.form-group
				button(type='submit', data-loading-text="Changing...").btn.btn-raised.btn-primary Update profile
